/* You can add global styles to this file, and also import other style files */
/* .uk-form-danger {
  border-color: 2px, solid, #ff0000 !important;
} */
.uk-form-danger {
  border: 2px solid #ff1200 !important;
}

button:disabled {
  background-color: rgba(0, 0, 0, 0.2) !important;

}
